div#slideshow{
    position: relative;
    top:300px;
    margin:10px auto;
    float: none;
    overflow:hidden;
    height:300px;

}

a{
    position: absolute;
    z-index: 100;
    top:150px;
}
a#prev{
    left:0;
}
a#nex {
    right:0;
}

ul.slideshow {
    position: absolute;
    left:0;
    top:0;
    height:300px;
    list-style: none;
    padding:0;
}

ul.slideshow li {
    float:left;
}